body {
  background: #ffffff;
}

@import url('//at.alicdn.com/t/font_1440562_cijq2ckwpz.css');

.bg {
  background: url('./img/1.png');
  width: 290px;
  height: 156px;
}

.bg1 {
  background: url('./img/bgs.jpg');
  width: 290px;
  height: 156px;
}